#include "resource.h"
IDI_ICON1 ICON "..\\ICON.ico"
IDI_ICON_ATTRIBUTES    ICON "..\\Icons\\Dark\\Attributes.ico"
IDI_ICON_TERMINALS     ICON "..\\Icons\\Dark\\Terminals.ico"
IDI_ICON_EDIT_WITH      ICON "..\\Icons\\Dark\\Edit with.ico"
IDI_ICON_SYSTEM_FOLDERS ICON "..\\Icons\\Dark\\System Folders.ico"
IDI_ICON_PASTE_TO_FILE  ICON "..\\Icons\\Dark\\Paste to File.ico"
IDI_ICON_COPY_NAME      ICON "..\\Icons\\Dark\\Copy Name.ico"
IDI_ICON_COPY_PATH      ICON "..\\Icons\\Dark\\Copy Path.ico"
IDI_ICON_TAKE_OWNERSHIP ICON "..\\Icons\\Dark\\Take Ownership.ico"
IDI_ICON_SETTINGS       ICON "..\\Icons\\Dark\\Settings.ico"
